/* BASE */
@use "base/reset";

/* Utilities*/
@use "utilities/variables";
@use "utilities/mixins";
@use "utilities/extend";

/* LAYOUT */
@use "layout/header";
@use "layout/main";
@use "layout/body";
@use "layout/footer";

/* COMPONENTES */
@use "components/cards";
@use "components/banner";

/* pages*/
@use "pages/contacto";
@use "pages/nosotros";