@use "../utilities/variables" as*;

footer{
    background-color: $color-fondo;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    
    p{
        color:$color-texto;
    }

    .info{
        display: flex;
        justify-content: center;
        gap: 40px;
        padding: 20px 0;
    }
    .info.ul{
        list-style: none;
        display: flex;
        gap:20px;
        margin: o;
        padding:0;
       
        &.li{
            color:$color-texto;
        }
    }
}