@use "../utilities/variables" as*;

/*  HEADER */
header{
    background-color: $color-fondo;

    .hero{
        height:90vh;
        background-size: cover;
        background-position: center;
            .hero-overlay{
                height:100%;
                background-color: $color-fondo;
                align-items: center;
                display: flex;
            }
            .hero-content{
                padding-top: 150px;
                color: white;
                max-width: 600px;
                margin-left: 5%;
            }
                .hero-content h1{
                    font-size: 3rem;
                    font-weight: bold;
                }
            .hero-subtitle {
                font-size: 1.5rem;
                margin-top: 0.5rem;
            }
            .hero-text{
                margin-bottom: 1.5rem;
            }
    }
}