/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LAYOUT */
html, body {
  height: 100%;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  background-color: black;
}

/* BANNER */
.banner {
  background-color: black;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-overlay {
  text-align: center;
}

.banner-overlay h1 {
  color: blueviolet;
  font-size: 50px;
  text-decoration: underline;
}

.banner-overlay h2 {
  color: blueviolet;
  font-size: 35px;
}

.banner-overlay p {
  color: blueviolet;
  font-size: 25px;
  text-decoration: underline;
}

/* MAIN */
main {
  padding: 40px 20px;
  flex: 1;
}

/* PRODUCTOS */
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* FOOTER */
footer {
  background-color: black;
  color: blueviolet;
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
}

/* MAIN CONTACTO */
.contacto-main {
  flex: 1;              
  display: flex;           
  flex-direction: column; 
  align-items: center;     
  text-align: center;     
  padding: 20px;
}

footer .info {
  display: flex;            
  justify-content: center;  
  gap: 40px;                
  padding: 20px 0;          
}

footer .info ul {
  list-style: none;        
  display: flex;           
  gap: 20px;                
  margin: 0;
  padding: 0;
}

footer .info ul li {
  color: blueviolet;
}
