// _mediaqueries.scss
@use "/SASS/utilities/variables" as v;

@mixin responsive-text($size-mobile, $size-tablet, $size-desktop) {
  font-size: $size-mobile;

  @media (min-width: 768px) {
    font-size: $size-tablet;
  }

  @media (min-width: 1024px) {
    font-size: $size-desktop;
  }
}
