@use "../utilities/variables" as v;

.nosotros-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;
    padding:2rem 1rem;
    background-color:v.$color-fondo2;
    color:v.$color-texto;
    text-align: center;

    &.h1{
        text-align:center;
    }
}